@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /*for IE*/
    #document a {
        display: block;
    }
}

@supports (display: grid) {
    /*for platforms that support grid*/
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #document {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
    }
}

* {
    font-family: Arial;
}

.document-title {
    text-align: center;
    background-color: #2C86F5;
    color: white;
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
    margin-bottom: 1.5em;
}

#document a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    border-top-left-radius: 2px;
    padding-left: 1em;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
}

#document a:hover {
    border: 2px solid black;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100%;
    border: 1px solid black;
}

.popup>div {
    background-color: #3174EF;
    width: 100%;
}

.popup a {
    padding-left: 1em;
    color: white;
}

iframe {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: scroll;
}