@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /*for IE*/
    #links-grid a {
        background-color: red;
        display: block;
        margin-bottom: 2px;
    }
}

@supports (display: grid) {
    /*for CSS grid*/
    .grid {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #links-grid {
        display: grid;
        grid-gap: 2px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #links-grid a {
        background: -webkit-linear-gradient(left, #3174EF, #31efac);
        background: linear-gradient(to right, #3174EF, #31efac);
    }
}

* {
    font-family: Arial;
}

.grid div {
    text-align: center;
    font-size: 1.5em;
}

#title {
    background-color: #2C86F5;
    color: white;
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
    margin-bottom: 1em;
}

#links-grid a {
    background-color: #3174EF;
    text-decoration: none;
    color: white;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
}

#links-grid a:hover {
    border: 2px solid #6d31ef;
}