@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /*for IE*/
    .nav {
        display: -ms-grid;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr;
    }
    #laptops {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #desktops {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    #workstations {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    #software {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }
    #docks {
        -ms-grid-row: 1;
        -ms-grid-column: 5;
    }
}

@supports (display: grid) {
    /*for CSS Grid*/
    .nav {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-auto-flow: column;
    }
    .wrapper {
        display: grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
}

.nav div {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.nav div:hover {
    background-color: #2C86F5;
}

.nav>div img {
    width: 100%;
    height: 100%;
    opacity: .8;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

* {
    font-family: Arial;
}

#searchbar {
    width: 99.5%;
    /*this was annoying to fix*/
}

#search {
    background-color: #2C86F5;
    text-align: center;
}

#machines p {
    margin-top: 1em;
    display: inline-block;
    font-size: 1em;
    padding-left: 1em;
}

#machines a {
    display: block;
    font-size: 1.5em;
    padding-left: 1em;
    padding-bottom: 1em;
}

#title {
    background-color: #2C86F5;
    color: white;
    font-size: 1.25em;
    padding-left: 1em;
    border-top-left-radius: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#date {
    color: blue;
}

.forborder {
    border: 1px solid #2C86F5;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: .5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.8);
}

#searchbar {
    font-size: 2em;
}