@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /*for IE*/
    .grid {
        display: -ms-grid;
        width: 100%;
        height: 98vh;
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    #titlebar {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    #blank-area {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
        -ms-grid-column-span: 6;
    }
    #navigation {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        -ms-grid-row-span: 5;
    }
    #site-updates {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
        -ms-grid-row-span: 6;
        -ms-grid-column-span: 5;
    }
    #useful {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
    }
    .nav {
        /*controls the layout for the buttons! for IE you have to specify exactly where they will go*/
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    #Updates {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    #Techtips {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    #Process {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    #Links {
        -ms-grid-row: 4;
        -ms-grid-column: 1;
    }
    #Training {
        -ms-grid-row: 5;
        -ms-grid-column: 1;
    }
    #Documents {
        -ms-grid-row: 6;
        -ms-grid-column: 1;
    }
    #Bios {
        -ms-grid-row: 7;
        -ms-grid-column: 1;
    }
    #SSR {
        -ms-grid-row: 8;
        -ms-grid-column: 1;
    }
    #Legacy {
        -ms-grid-row: 9;
        -ms-grid-column: 1;
    }
    .nav div {
        border: 1px solid white;
    }
}

@supports (display: grid) {
    /*Firefox and chrome supported*/
    .grid {
        display: grid;
        width: 100%;
        height: 98vh;
        grid-template-areas: /*This function is setup to use css grids in order to format content on the page*/
        "title title blank blank blank blank blank" "nav nav update update update update update" "nav nav update update update update update" "nav nav update update update update update" "nav nav update update update update update" "nav nav update update update update update" "info info update update update update update";
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr) .25fr;
    }
    #titlebar {
        grid-area: title;
    }
    #blank-area {
        grid-area: blank;
    }
    #navigation {
        grid-area: nav;
    }
    #site-updates {
        grid-area: update;
    }
    #useful {
        grid-area: info;
    }
    .nav {
        /*controls the layout for the buttons!*/
        display: grid;
        grid-gap: 1px;
        grid-template-columns: 1fr;
        grid-auto-rows: 2fr;
    }
}


/*visual configuration of the items everything above is just to setup css grid*/

* {
    font-family: Arial;
}

#titlebar {
    background-color: #3174EF;
    margin-bottom: .5em;
}

#titlebar h1 {
    color: white;
    font-size: 2em;
    border: 5px solid white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: .25em;
    padding-left: auto;
    padding-right: auto;
}

#blank-area {
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    margin-bottom: .5em;
}

#blank-area p {
    color: white;
    font-size: .5em;
    text-align: right;
    margin-right: 1em;
}

#navigation {
    height: auto;
}

.nav {
    height: 100%;
}

#site-updates {
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: .5em;
}

.nav>div {
    /*navigation buttons*/
    background-color: rgba(49, 122, 239, 0.82);
    text-align: center;
    color: white;
    width: 100%;
    justify-self: center;
    justify-self: stretch;
    height: auto;
    max-height: 4.9em;
    min-height: 2em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border: 1px solid rgba(49, 119, 239);
}

.nav p {
    font-size: 3vmin;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    line-height: 300%;
    cursor: pointer;
}

.nav>div:hover {
    /*navigation buttons hover action*/
    border: 2px solid #6d31ef;
    box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.8);
}

iframe {
    width: 100%;
    height: 100%;
    border: 0em;
}

#site-updates {
    overflow: hidden;
}

#useful {
    /*Creators info*/
    background-color: #3174EF;
    color: white;
    height: auto;
}

#useful p {
    text-align: center;
    font-size: 1.5vmin;
}


/*for firefox update popup*/

.popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 1);
    height: 100vh;
    width: 100%;
    border: 1px solid black;
}

.popup p {
    color: white;
    text-align: center;
}