@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    /*for IE*/
    #process a {
        display: block;
        margin-bottom: 2px;
    }
}

@supports (display: grid) {
    /*for CSS Grid*/
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #process {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 5px;
        width: 98%;
    }
}

* {
    font-family: Arial;
}

.process-title {
    text-align: center;
    background-color: #2C86F5;
    color: white;
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    font-size: 1.5em;
    margin-bottom: 1em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

#process a {
    text-decoration: none;
    color: white;
    width: 98%;
    font-size: 1.5em;
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    padding-left: 1.5em;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

#process a:hover {
    border: 1px solid black;
}