/*A;most exactly the same as the training page*/

* {
    font-family: Arial;
}

.ssr-title {
    text-align: center;
    color: white;
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    font-size: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px;
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.Entry {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    color: white;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
}

.upper-part {
    background-color: #3174EF;
    padding-left: 1em;
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    font-size: 1.5em;
}

.lower-part {
    display: none;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
    background: white;
}

.lower-part a {
    display: block;
    margin-top: .5em;
    width: 100%;
    padding-left: 1em;
}

.lower-part p,
li {
    color: black;
    padding-left: 1em;
    font-size: 1.5em;
}

.lower-part h3 {
    color: black;
    padding-left: 1em;
}

.lower-part img {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    display: block;
}