* {
    font-family: Arial;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.update-title {
    text-align: center;
    background-color: #2C86F5;
    color: white;
    background: -webkit-linear-gradient(left, #3174EF, #31efac);
    background: linear-gradient(to right, #3174EF, #31efac);
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.8);
    font-size: 1.5em;
}

.title {
    /* title of the updates format*/
    font-size: 1.5em;
    color: white;
    background-color: #2C86F5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 1.5em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.dateselect {
    margin-top: 1em;
    margin-bottom: 0;
    color: white;
    background-color: #2C86F5;
}

.dateselect p {
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1em;
    display: inline-block;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
}

.dateselect p:hover {
    background-color: rgba(0, 0, 0, .5);
}

.Blue {
    /*class color for important parts of updates*/
    color: blue;
}

.responsive {
    /*divider image in updates*/
    width: 100%;
    height: auto;
}

.forborder {
    border: 1px solid #2C86F5;
    padding-top: 0px;
    margin-top: 0px;
    padding-left: .5em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    background: rgba(255, 255, 255, 0.8);
    padding-bottom: 1.5em;
}

.forborder p {
    font-size: 1.25em;
}

.forborder .small {
    font-size: .75em;
}

.inserted {
    max-width: 40vw;
    max-height: 50vw;
    min-width: 10vw;
    min-height: 10vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.inserted img {
    width: 100%;
    height: 100%;
    cursor: zoom-in;
}

.links {
    display: block;
}